#Eso solo es un ejemplo de archivo .env, usted debe crear su propio archivo .env según su configuración local de Neo4j.
#Nota: Debe nombrar a su archivo unicamente como .env(sin ningun otra extensión) colocarlo en la raiz del proyecto.

# Neo4j Configuration
NEO4J_URI=neo4j://127.0.0.1:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=password

# Server Configuration
HOST=0.0.0.0
PORT=5000

# Environment (development, production)
ENVIRONMENT=development
